body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display:flex;
}

.content-half{
    width: 50%;
}

.content-third{
    margin-right: 30px;
    width: 30%;
    margin-left: 30px;
}

.food-section .content-half .pro-image{
    max-width: 90%;
    padding-top: 20px;
}

.food-content{
    margin: 60px 0px 0px 50px;
}

.food-section h1 {
    font-size: 60px;
    text-transform: capitalize;
}

.food-content p{
    font-size: 18px;
    font-weight: 600;
    color:#607d8b
}

.title-color {
    color: #FB9149;
}

.link-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    background-image: linear-gradient(322deg, #FB9049, #FD4E30);
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 20px #8080809c;
}

.space{
    margin-bottom: 100px;
}

#about{
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}

.about-content .content-half h1 {
    font-size: 35px;
    color: #607d8b;
    text-transform: capitalize;
}

.about-content .content-half p {
    text-align: justify;
    padding-right: 80px;
}

.blog-section {
    width: 80%;
    margin-left: 130px;
}

h1 .blog-title {
    text-align: center;
    font-size: 35px;
    color: #607d8b;
    text-transform: capitalize;
}

p .blog-para {
    text-align: center;
    margin-bottom: 40px;
    padding: 0px 150px;
}

.blog-card {  
    padding: 20px;
    box-shadow: 3px 3px 20px #80808094;
    border-radius: 30px;
    background-color: #ffff;
}

.blog-card img {
    max-width: 100%;
    border-radius: 20px;
}

.blog-sub-section {
    padding: 0px 50px;
}

.blog-card h1{
    font-weight: 900;
    text-transform: capitalize;
}

.blog-card p{
    text-align: justify;
}

.count-area{
    padding: 30px 50px;
    margin: 0 70px;
    box-shadow: 3px 3px 25px #8080807a;
    border-radius: 10px;
}

.count{
    text-align: center;
}

.count h1 {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
}

footer.footer {
    text-align: center;
    background-color: #566369;
    padding: 40px 0px;
}

footer.footer p {
    color: #fff;
}